outputs/slurm-*
*.log.*
.nextflow/*
.nextflow.log*
work
results
*.html
.nextflow.log.1
report.html.1
outputs/*
replay_*
atlas.zip
config.zip
test*
tractometry/tree_for_tractometry_cc.sh
tractoflow/run_tractoflow_gpu.sh
